<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
	<title>评论管理</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/toastr/toastr.min.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{assets/css/main.css}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{assets/css/demo.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">



	<!-- 表格分页 -->
	<link rel="stylesheet" th:href="@{assets/jpages/css/jPages.css}">

	<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js" ></script>
	<script th:src="@{assets/jpages/js/jPages.js}"></script>

	<script>
        $(function(){
            $("div.holder").jPages({
                containerID : "movies",
                previous : "上一页",
                next : "下一页",
                perPage : 16,
                delay : 0
            });
        });
	</script>

	<style type="text/css">
		.mwrap{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	</style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="index.html"><img th:src="@{assets/img/logo-dark.png}" alt="Klorofil Logo" class="img-responsive logo"></a>
		</div>
		<div class="container-fluid">
			<div class="navbar-btn">
				<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
			</div>
			<form class="navbar-form navbar-left"method="post" th:action="@{/searchComment}" role="form">
				<div class="input-group">
						<input type="text" name="searchBox" class="form-control" th:placeholder="${searchString}">
						<span class="input-group-btn"><button type="submit" class="btn btn-primary">Go</button></span>
				</div>
			</form>
			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img th:src="${presentAccount.getAvatar()}" class="img-circle" alt="Avatar"> <span th:text="${presentAccount.getNikeName()}">Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/logout}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
						</ul>
					</li>
					<!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
				</ul>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="sidebar-nav" class="sidebar">
		<div class="sidebar-scroll">
			<nav>
				<ul class="nav">
					<li><a th:href="@{/index}" class=""><i class="lnr lnr-chart-bars"></i> <span>数据概览</span></a></li>
					<li><a th:href="@{/logPage}" class=""><i class="lnr lnr-code"></i> <span>登录日志</span></a></li>
					<li><a th:href="@{/accountPage}" class=""><i class="lnr lnr-user"></i> <span>用户管理</span></a></li>
					<li><a th:href="@{/wishPage}" class=""><i class="lnr lnr-heart"></i> <span>心愿管理</span></a></li>
					<li><a th:href="@{/commentPage}" class="active"><i class="lnr lnr-bubble"></i> <span>评论管理</span></a></li>
					<li><a th:href="@{/collectPage}" class=""><i class="lnr lnr-star"></i> <span>收藏管理</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- END LEFT SIDEBAR -->
	<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<!-- BORDERED TABLE -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">评论管理</h3>
							</div>
							<div class="panel-body">
								<div class="holder"></div>
								<table class="table table-bordered" style="table-layout: fixed;">
									<thead>
									<tr>
										<th width="5%">#</th>
										<th width="10%">评论者用户名</th>
										<th width="10%">心愿标题</th>
										<th width="20%" class="mwrap"><div class="mwrap">心愿内容</div></th>
										<th width="35%" class="mwrap"><div class="mwrap">评论内容</div></th>
										<th width="10%">发布时间</th>
										<th width="10%">操作</th>
									</tr>
									</thead>
									<tbody id="movies">
									<tr th:each="Comments : ${comments}">
										<td th:text="${comments.indexOf(Comments)+1}">1</td><!--#-->
										<td th:text="${Comments.getAccountInfo().getNikeName()}">223.20.30.27</td><!--	评论者用户名-->
										<td th:text="${Comments.getWish().getTitle()}">223.20.30.27</td><!--心愿标题-->
										<td class="mwrap"><div  class="mwrap" th:text="${Comments.getWish().getContent()}" th:title="${Comments.getWish().getContent()}"></div></td><!--心愿内容-->
										<td class="mwrap"><a  href="#" data-toggle="modal" th:data-target="@{'#dialog'+${Comments.getCMID()}}"><div  class="mwrap" th:text="${Comments.getCMContent()}" th:title="${Comments.getCMContent()}">内容</div></a></td>
										<td th:text="${Comments.getCMTime().toString().substring(0,16)}">2</td><!--发布时间-->
										<td><a  href="#" data-toggle="modal" th:data-target="@{'#dialogWarning'+${Comments.getWish().getWishID()}}"><span class="lnr lnr-trash"></span>删除</a></td>
										<!-- 模态框（Modal） -->
										<div class="modal fade" th:id="'dialog' + ${Comments.getCMID()}" tabindex="-1" role="dialog"  aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
																aria-hidden="true">×
														</button>
														<h4 class="modal-title" th:text="${Comments.getWish().getTitle()}">
															模态框（Modal）标题
														</h4>
													</div>
													<div class="modal-body">
														<h4>心愿内容：</h4>
														<p th:text="${Comments.getWish().getContent()}">心愿内容</p>
													</div>
													<hr />
													<div class="modal-body">
														<h4>评论内容：</h4>
														<p th:text="${Comments.getCMContent()}">评论内容</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
																data-dismiss="modal">关闭
														</button>
													</div>
												</div><!-- /.modal-content -->
											</div><!-- /.modal-dialog -->
										</div><!-- /.modal -->
										<!-- 模态框（Modal） -->
										<div class="modal fade" th:id="'dialogWarning' + ${Comments.getWish().getWishID()}" tabindex="-1" role="dialog"  aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
																aria-hidden="true">×
														</button>
														<h4 class="modal-title">
															警告！
														</h4>
													</div>
													<div class="modal-body">
														确定要删除这条评论吗？
													</div>
													<div class="modal-footer">
														<a class="btn btn-danger"
														   th:href="@{'deleteComment/'+${Comments.getCMID()}}">删除
														</a>
														<button type="button" class="btn btn-default"
																data-dismiss="modal">关闭
														</button>
													</div>
												</div><!-- /.modal-content -->
											</div><!-- /.modal-dialog -->
										</div><!-- /.modal -->
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END BORDERED TABLE -->
					</div>

				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">Copyright &copy; 2018.HUST All rights reserved</p>
		</div>
	</footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>
</body>

</html>
