<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>树洞</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{assets/css/main_cg.css}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{assets/css/demo.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">
    <!-- 日期输入 -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>

    <!-- 表格分页 -->
    <link rel="stylesheet" th:href="@{assets/jpages/css/jPages.css}">
    <script th:src="@{assets/jpages/js/jPages.js}"></script>

    <script>
        $(function(){
            $("div.holder").jPages({
                containerID : "movies",
                previous : "上一页",
                next : "下一页",
                perPage : 10,
                delay : 0
            });
        });
    </script>

    <style>
        .max{
            max-width:100%;max-height:100%;
        }
        .min{
            max-width:50%;max-height:50%;
        }
    </style>

    <script>
        $(function(){
            $('.min').click(function(){

                $(this).toggleClass('min');
                $(this).toggleClass('max');
            });
        });
    </script>

    <script>
        function changeLength(obj, str) {
            var lg = obj.value.length;
            var a = document.getElementById(str);
            a.innerHTML = lg;
        }


        $(document).ready(function(){
            $(".goodButton").each(function(){
                var isGooded = new Number($($(this).prev()).text());
                var goodIconObj = $($($(this).children()).first());  //图标obj
                if (isGooded == 1) {
                    $(goodIconObj).attr("class", "fa fa-thumbs-up");
                }
                else
                {
                    $(goodIconObj).attr("class", "lnr lnr-thumbs-up");
                }
            });

            $(".collectButton").each(function(){
                var isCollected = new Number($($(this).prev()).text());
                var collectIconObj = $($($(this).children()).first());  //图标obj
                if (isCollected == 1) {
                    $(collectIconObj).attr("class", "fa fa-star");
                }
                else
                {
                    $(collectIconObj).attr("class", "lnr lnr-star");
                }
            });



            $(".goodButton").click(function(){
                var isGooded = new Number($($(this).prev()).text());
                var num = new Number($($($(this).children()).last()).text());
                var goodIconObj = $($($(this).children()).first());  //图标obj
                if (isGooded == 1) {
                    num = num - 1;
                    isGooded = 0 ;
                    $(goodIconObj).attr("class", "lnr lnr-thumbs-up");
                }
                else
                {
                    num = num + 1;
                    isGooded = 1 ;
                    $(goodIconObj).attr("class", "fa fa-thumbs-up");
                }
                $($($(this).children()).last()).text(num);
                $($(this).prev()).text(isGooded);
                $(this).parent().submit();
            });

            $(".collectButton").click(function(){
                var isCollected = new Number($($(this).prev()).text());
                var num = new Number($($($(this).children()).last()).text());
                var collectIconObj = $($($(this).children()).first());  //图标obj

                if (isCollected == 1) {
                    num = num - 1;
                    isCollected = 0 ;
                    $(collectIconObj).attr("class", "lnr lnr-star");
                }
                else
                {
                    num = num + 1;
                    isCollected = 1 ;
                    $(collectIconObj).attr("class", "fa fa-star");
                }
                $($($(this).children()).last()).text(num);
                $($(this).prev()).text(isCollected);
                $(this).parent().submit();
            });
        });
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <img src="/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo">
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h1>&nbsp;&nbsp;<a th:href="@{tree}">树洞</a>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </li>
                <li>
                    <h1><a th:href="@{wishSea}">心愿海</a>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </li>
            </ul>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img th:src="${presentAccount.getAvatar()}" class="img-circle" alt="Avatar"> <span th:text="${presentAccount.getNikeName()}">Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/logout}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-profile">
                    <div class="clearfix">
                        <!-- LEFT COLUMN -->
                        <div class="profile-left">
                            <!-- PROFILE HEADER -->
                            <div class="profile-header">
                                <div class="overlay"></div>
                                <div class="profile-main">
                                    <img th:src="${presentAccount.getAvatar()}" class="img-circle" alt="Avatar">
                                    <h3 class="name" th:text="${presentAccount.getNikeName()}">Samuel Gold</h3>
                                    <span class="online-status status-available">Available</span>
                                </div>
                                <div class="profile-stat">
                                    <div class="row">
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${myWish.size()}"></span><span>我的心愿</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${myComments.size()}"></span><span>评论</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${goodNum}"></span><span>赞</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE HEADER -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane in active fade" id="profile">
                                    <!-- PROFILE DETAIL -->
                                    <div class="profile-detail">
                                        <div class="profile-info">
                                            <h4 class="heading">个人简介</h4>
                                            <ul class="list-unstyled list-justify">
                                                <li>出生日期<span th:text="${presentAccount.getBirthday().toString().substring(0,10)}">24 Aug, 2016</span></li>
                                                <li>邮箱<span th:text="${presentAccount.getEmail()}">samuel@mydomain.com</span></li>
                                            </ul>
                                        </div>
                                        <div class="profile-info">
                                            <h4 class="heading">其他信息</h4>
                                            <ul class="list-unstyled list-justify">
                                                <li>1</li>
                                                <li>2</li>
                                            </ul>
                                        </div>
                                        <div class="profile-info">
                                            <h4 class="heading">个人介绍</h4>
                                            <p th:text="${presentAccount.getSelfIntro()}">Interactively fashion excellent information after distinctive outsourcing.</p>
                                        </div>
                                        <div class="text-center"><a href="#editProfile" data-toggle="tab" class="btn btn-primary" >编辑资料</a></div>
                                    </div>
                                    <!-- END PROFILE DETAIL -->
                                </div>
                                <div class="tab-pane fade" id="editProfile">
                                    <!-- PROFILE DETAIL -->
                                    <div class="profile-edit">
                                        <form method="post" th:action="@{/editPost}" role="form">
                                            <div class="profile-info">
                                                <h4 class="heading">个人简介</h4>
                                                <ul class="list-unstyled list-justify">
                                                    <li><input name="userNameEdit" type="text" th:value="${presentAccount.getNikeName()}" class="form-control" placeholder="用户名" required=""></li>
                                                    <li><input name="emailEdit" type="email" th:value="${presentAccount.getEmail()}" class="form-control" placeholder="邮箱" required=""></li>
                                                    <li>出生日期：
                                                        <input class="form-control" type="date" id="birthdayEdit" name="birthdayEdit" required>
                                                        <script th:inline="javascript">
                                                            var birth = [[${presentAccount.getBirthday()}]];
                                                            document.getElementById('birthdayEdit').value= birth.toString().substring(0,10);
                                                        </script>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="profile-info">
                                                <h4 class="heading">个人介绍</h4>
                                                <textarea name="introEdit" maxlength="100" th:text="${presentAccount.getSelfIntro()}" th:value="${presentAccount.getSelfIntro()}" class="form-control" placeholder="个人介绍" rows="4" required=""></textarea>
                                            </div>
                                            <div class="text-center"><a href="#profile" data-toggle="tab" class="btn btn-default">返回</a>&nbsp;<button type="submit"  class="btn btn-primary">保存修改</button></div>
                                        </form>
                                    </div>
                                    <!-- END PROFILE edit -->
                                </div>
                            </div>

                        </div>
                        <!-- END LEFT COLUMN -->
                        <!-- RIGHT COLUMN -->
                        <div class="profile-right">
                            <h4 class="heading"><a href="#collapseOne"  data-toggle="collapse"><i  class="lnr lnr-pencil"></i> 写一个心愿 </a></h4>

                            <!-- INPUT -->
                            <div id="collapseOne" class="collapse">
                                <div class="panel-body">
                                    <form enctype="multipart/form-data" method="post" action="/addWish" role="form">
                                        <input name="wishTitle" maxlength="60" type="text" class="form-control" placeholder="标题" required>
                                        <br>
                                        <textarea name="wishContent" class="form-control" placeholder="内容" rows="4" maxlength="240" onkeyup="changeLength(this, 'wishContentNum')" required></textarea>
                                        字数：<span id="wishContentNum">0</span>/240 <br>
                                        <span>上传图片：
                                            <input name="pic" style="display:inline" id="file-pic" type="file" data-min-file-count="0" accept="image/*">
                                        </span><br>
                                        <span>上传视频：
                                            <input name="video" style="display:inline" id="file-video" type="file" data-min-file-count="0" accept="video/*">
                                        </span>
                                        <br>
                                        <span>可见性：</span>
                                        <input name="visibility" value="self" type="radio" id="self" checked="false">
                                        <label for="self">仅自己</label>
                                        <input name="visibility" value="all" type="radio" id="all">
                                        <label for="all">所有人</label>
                                        <input style="float:right;" type="submit" class="btn btn-primary" value="发布"></input>
                                    </form>
                                </div>
                            </div>
                            <!-- END INPUT -->
                            <iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe>
                            <!-- TABBED CONTENT -->
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">我的心愿</a></li>
                                    <li><a href="#tab-bottom-left4" role="tab" data-toggle="tab">收藏的心愿</a></li>
                                    <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">我评论的心愿</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="holder"></div>
                                    <div id="movies">
                                    <div th:each="Wish : ${myWish}">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" style="background-color: white">
                                                        <h3 th:text="${Wish.getTitle()}">
                                                            标题
                                                        </h3>
                                                        <p th:text="${Wish.getContent()}">心愿内容</p>
                                                        <hr>
                                                        <span>
                                                            <form style="display: inline" method="post" th:action="@{/good}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${Wish.getWishID()}" name="goodWishID">
                                                                <span th:text="${aWishToComment.hasGood(Wish.getWishID())}"  style="display:none">点赞与否</span>
                                                                <a href="javascript:void(0)" class="goodButton">
                                                                    <span class="lnr lnr-thumbs-up"></span><span>点赞</span><span th:text="${Wish.getGoodNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <form style="display: inline" method="post" th:action="@{/collect}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${Wish.getWishID()}" name="collectWishID">
                                                                <span th:text="${aWishToComment.hasCollection(Wish.getWishID())}"  style="display:none">收藏与否</span>
                                                                <a href="javascript:void(0)" class="collectButton">
                                                                    <span class="lnr lnr-star"></span><span>收藏</span><span th:text="${Wish.getCollectionNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <a data-toggle="collapse" data-parent="#accordion" th:href="@{'#dialog'+${Wish.getWishID()}}">
                                                                <span class="lnr lnr-bubble"></span><span>评论</span><span th:text="${Wish.getCommentNum()}"></span>
                                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            发布时间：
                                                            <span th:text="${Wish.getRelTime().toString().substring(0,16)}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            作者：<a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                  data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                  th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${Wish.getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${Wish.getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${Wish.getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${Wish.getAccountInfo().getNikeName()}"></span></a>
                                                        </span>
                                                    </div>
                                                    <div th:id="'dialog' + ${Wish.getWishID()}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled" th:each="myWishCm : ${aWishToComment.getByWishID(Wish.getWishID())}">
                                                                <li><a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                       data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                       th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${Wish.getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${Wish.getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${Wish.getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${myWishCm.getAccountInfo().getNikeName()}">作者</span></a><span>： </span>
                                                                    <span th:text="${myWishCm.getCMContent()}">内容</span>
                                                                    <br>
                                                                    <span style="float: right" th:text="${myWishCm.getCMTime().toString().substring(0,16)}"></span><hr>
                                                                </li>
                                                            </ul>
                                                            <form class="form-auth-small" method="post" th:action="@{/addComment}" role="form">
                                                                <div class="modal-body">
                                                                    <textarea name="cmEdit" class="form-control" placeholder="发表内容" rows="4" maxlength="140"  th:onkeyup="'changeLength(this,'+ ${Wish.getWishID()} + ')'" required=""></textarea>
                                                                    字数：<span th:id="${Wish.getWishID()}">0</span>/140
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">发表评论</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                </div>
                                                                <input type="hidden" name="wishID"  th:value="${Wish.getWishID()}">
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="holder"></div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left2">
                                    <div th:each="myCo : ${myCommentWish}">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" style="background-color: white">
                                                        <h3 th:text="${myCo.getTitle()}">
                                                            标题
                                                        </h3>
                                                        <p th:text="${myCo.getContent()}">心愿内容</p>
                                                        <hr>
                                                        <span>
                                                            <form style="display: inline" method="post" th:action="@{/good}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${myCo.getWishID()}" name="goodWishID">
                                                                <span th:text="${aWishToComment.hasGood(myCo.getWishID())}"  style="display:none">点赞与否</span>
                                                                <a href="javascript:void(0)" class="goodButton">
                                                                    <span class="lnr lnr-thumbs-up"></span><span>点赞</span><span th:text="${myCo.getGoodNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <form style="display: inline" method="post" th:action="@{/collect}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${myCo.getWishID()}" name="collectWishID">
                                                                <span th:text="${aWishToComment.hasCollection(myCo.getWishID())}"  style="display:none">收藏与否</span>
                                                                <a href="javascript:void(0)" class="collectButton">
                                                                    <span class="lnr lnr-star"></span><span>收藏</span><span th:text="${myCo.getCollectionNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <a data-toggle="collapse" data-parent="#accordion" th:href="@{'#myCommentWish'+${myCo.getWishID()}}">
                                                                <span class="lnr lnr-bubble"></span><span>评论</span><span th:text="${myCo.getCommentNum()}"></span>
                                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            发布时间：
                                                            <span th:text="${myCo.getRelTime().toString().substring(0,16)}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            作者：<a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                  data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                  th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${myCo.getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${myCo.getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${myCo.getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${myCo.getAccountInfo().getNikeName()}"></span></a>
                                                        </span>
                                                    </div>
                                                    <div th:id="'myCommentWish' + ${myCo.getWishID()}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled" th:each="myWishCm : ${aWishToComment.getByWishID(myCo.getWishID())}">
                                                                <li><a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                       data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                       th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${myCo.getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${myCo.getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${myCo.getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${myWishCm.getAccountInfo().getNikeName()}">作者</span></a><span>： </span>
                                                                    <span th:text="${myWishCm.getCMContent()}">内容</span>
                                                                    <br>
                                                                    <span style="float: right" th:text="${myWishCm.getCMTime().toString().substring(0,16)}"></span><hr>
                                                                </li>
                                                            </ul>
                                                            <form class="form-auth-small" method="post" th:action="@{/addComment}" role="form">
                                                                <div class="modal-body">
                                                                    <textarea name="cmEdit" class="form-control" placeholder="发表内容" rows="4" maxlength="140"  th:onkeyup="'changeLength(this,'+ ${myCo.getWishID()} + ')'" required=""></textarea>
                                                                    字数：<span th:id="${myCo.getWishID()}">0</span>/140
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">发表评论</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                </div>
                                                                <input type="hidden" name="wishID"  th:value="${myCo.getWishID()}">
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left4">
                                    <div th:each="myCo : ${myCollection}">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" style="background-color: white">
                                                        <h3 th:text="${myCo.getWish().getTitle()}">
                                                            标题
                                                        </h3>
                                                        <p th:text="${myCo.getWish().getContent()}">心愿内容</p>
                                                        <hr>
                                                        <span>
                                                            <form style="display: inline" method="post" th:action="@{/good}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${myCo.getWish().getWishID()}" name="goodWishID">
                                                                <span th:text="${aWishToComment.hasGood(myCo.getWish().getWishID())}"  style="display:none">点赞与否</span>
                                                                <a href="javascript:void(0)" class="goodButton">
                                                                    <span class="lnr lnr-thumbs-up"></span><span>点赞</span><span th:text="${myCo.getWish().getGoodNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <form style="display: inline" method="post" th:action="@{/collect}" role="form" target="hidden_frame">
                                                                <input type="hidden" th:value="${myCo.getWish().getWishID()}" name="collectWishID">
                                                                <span th:text="${aWishToComment.hasCollection(myCo.getWish().getWishID())}"  style="display:none">收藏与否</span>
                                                                <a href="javascript:void(0)" class="collectButton">
                                                                    <span class="lnr lnr-star"></span><span>收藏</span><span th:text="${myCo.getWish().getCollectionNum()}"></span>
                                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </form>
                                                            <a data-toggle="collapse" data-parent="#accordion" th:href="@{'#myCollected'+${myCo.getWish().getWishID()}}">
                                                                <span class="lnr lnr-bubble"></span><span>评论</span><span th:text="${myCo.getWish().getCommentNum()}"></span>
                                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            发布时间：
                                                            <span th:text="${myCo.getWish().getRelTime().toString().substring(0,16)}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            作者：<a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                  data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                  th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${myCo.getWish().getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${myCo.getWish().getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${myCo.getWish().getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${myCo.getWish().getAccountInfo().getNikeName()}"></span></a>
                                                        </span>
                                                    </div>
                                                    <div th:id="'myCollected' + ${myCo.getWish().getWishID()}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="list-unstyled" th:each="myWishCm : ${aWishToComment.getByWishID(myCo.getWish().getWishID())}">
                                                                <li><a href="javascript:void(0)"   title="用户简介"  data-trigger='hover focus'
                                                                       data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                                                                       th:data-content="'<ul class=&quot;list-unstyled list-justify&quot;>
                                                  <li>用户名:  <span>' + ${myCo.getWish().getAccountInfo().getNikeName()} +'</span></li>
                                                  <li>出生日期:  <span>' +${myCo.getWish().getAccountInfo().getBirthday().toString().substring(0,10)} +'</span></li>
                                                  <li>邮箱:  <span>' + ${myCo.getWish().getAccountInfo().getEmail()} + '</span></li>
                                              </ul>'"><span th:text="${myWishCm.getAccountInfo().getNikeName()}">作者</span></a><span>： </span>
                                                                    <span th:text="${myWishCm.getCMContent()}">内容</span>
                                                                    <br>
                                                                    <span style="float: right" th:text="${myWishCm.getCMTime().toString().substring(0,16)}"></span><hr>
                                                                </li>
                                                            </ul>
                                                            <form class="form-auth-small" method="post" th:action="@{/addComment}" role="form">
                                                                <div class="modal-body">
                                                                    <textarea name="cmEdit" class="form-control" placeholder="发表内容" rows="4" maxlength="140"  th:onkeyup="'changeLength(this,'+ ${myCo.getWish().getWishID()} + ')'" required=""></textarea>
                                                                    字数：<span th:id="${myCo.getWish().getWishID()}">0</span>/140
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">发表评论</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                </div>
                                                                <input type="hidden" name="wishID"  th:value="${myCo.getWish().getWishID()}">
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TABBED CONTENT -->
                        </div>
                        <!-- END RIGHT COLUMN -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2018.HUST</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->


<!-- Javascript -->
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{assets/vendor/toastr/toastr.min.js}"></script>
<script th:src="@{assets/scripts/klorofil-common.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>



<script type="text/javascript">
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<script>
    $(function () {
        $("[data-toggle='popover']").popover();
    });
</script>
</body>

</html>
